.auth-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}
.passwordResetLink {
  color: hsl(218, 76%, 68%);
  text-decoration: none;
  border-style: none;
  background-color: transparent;
  font-size: 0.833em;
}
.passwordResetLink:hover,
.passwordResetLink:focus {
  text-decoration: hsl(218, 76%, 68%) wavy underline !important;
}
.auth-box-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth-box-message {
  padding: 0 0 8px 0;
}
.auth-box-message span {
  font-size: 1.44em;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(4px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-8px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(8px, 0, 0);
  }
}
.auth-box-root {
  margin: 1rem 0;
  width: calc(384px - 2 * 32px);
  padding: 32px;
  animation: none;
  border-style: solid;
  border-width: 1px;
  border-color: hsl(0, 0%, 70%);
  border-radius: 4px;
  box-shadow: hsl(0, 0%, 50%) 0 4px 10px 0, hsl(257, 100%, 80%) 0px 0px 20px -6px;
  background-color: white;
}
.auth-box-form {
  background-color: white;
}
.auth-box-form .row {
  display: flex;
  flex-direction: column;
  padding: 16px 0;
}
.auth-box-form .row .eye-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(16px + 12px + 12px);
  width: calc(16px + 12px + 12px);
  margin-top: calc(-12px - 12px - 16px - 2px);
  margin-left: calc(100% - 24px - 24px);
  cursor: pointer;
}
.auth-box-form .row .password-row {
  height: 40px;
  margin-top: 8px;
}
.auth-box-form .row .labelRow {
  display: flex;
  justify-content: space-between;
}
.auth-box-form .row .labelRow a {
  font-size: 0.833em;
}
.auth-box-form .row .labelRow a:hover,
.auth-box-form .row .labelRow a:focus {
  text-decoration: red wavy underline;
}
.auth-box-form .row label {
  font-size: 0.833em;
  color: hsl(0, 0%, 17%);
}
.auth-box-form .row input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 0.833em;
  margin-top: 8px;
  font-size: 1rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  border-color: hsl(0, 0%, 83%);
}
.auth-box-form .message {
  display: flex;
  align-items: center;
  color: #e85d75;
}
.auth-box-form .message svg {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}
.auth-box-form .switch-mode-button {
  cursor: pointer;
}
.auth-box-form .signInButton {
  width: 100%;
  padding: 12px 0.833em;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  background-color: hsl(257, 25%, 44%);
  border-style: none;
  border-radius: 4px;
}
.auth-box-form .signInButton:hover,
.auth-box-form .signInButton:focus {
  color: white;
  background-color: hsl(257, 35%, 58%);
}
.sso-container {
  display: flex;
  flex-direction: column;
}
.sso-container .text-row {
  display: flex;
  align-items: center;
  padding: 12px 0 calc(16px + 12px) 0;
}
.sso-container .line {
  border-style: solid none none none;
  border-color: hsl(257, 100%, 91%);
  border-width: 1px;
  height: 1px;
  width: 100%;
}
.sso-container .text {
  padding: 0 1rem;
  white-space: nowrap;
  color: hsl(0, 0%, 61%);
}
.sso-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sso-wrapper button {
  font-size: 1rem !important;
}
.sso-wrapper > * + * {
  margin-top: 24px;
}
.sso-wrapper .googleButton,
.sso-wrapper .twitterButton {
  width: 210px !important;
  text-align: initial !important;
}
.sso-wrapper .googleButton:hover,
.sso-wrapper .twitterButton:hover,
.sso-wrapper .googleButton:focus,
.sso-wrapper .twitterButton:focus {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}
.twitter-button {
  display: flex;
  align-items: center;
  padding: 0;
  height: 50px;
  border-style: none;
  background-color: #1da1f2;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.twitter-button img {
  width: 36px;
  height: 36px;
  padding: 6px;
}
.twitter-button span {
  margin: auto auto auto 0;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: white;
}
.switch-modes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: calc(16px + 12px);
}
.switch-modes .spacer {
  border-style: solid none none none;
  border-color: hsl(257, 100%, 91%);
  border-width: 1px;
  height: 1px;
  width: 100%;
}
.switch-modes span {
  padding-top: 16px;
  text-align: center;
  font-size: 1rem;
}
.switch-modes button {
  color: hsl(257, 25%, 44%);
  background-color: transparent;
  border-style: none;
  font-size: 1rem;
}
/*# sourceMappingURL=styles.css.map */